.card {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: -1px 0px 5px $gray;
	padding: 0 2em 2em;
	background: $white;

	&__title{
		font-size: 30px;
		text-align: center;
		font-weight: 500;
		padding: 10px 0;
		border-bottom: 1px solid $gray;
	}

	&__subtitle {
		margin-bottom: 10px;
		font-weight: 500;
	}
}